@font-face {
  font-family: 'Ploni';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/ploni-medium-aaa.woff2') format('woff2');
}

@font-face {
  font-family: 'Ploni';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/ploni-bold-aaa.woff2') format('woff2');
}
